<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Ajouter un eleve</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Creer un eleve:</h1>   
      <form th:action="@{/creationeleve}"
         th:object="${eleveForm}" method="POST">
         Id:
         <input type="text" th:field="*{id}" />    
         <br/>
         Nom:
         <input type="text" th:field="*{nom}" />    
         <br/>
         Prenom:
         <input type="text" th:field="*{prenom}" />     
         <br/>
         Age:
         <input type="text" th:field="*{age}" />     
         <br/>
         Niveau scolaire:
         <select th:field="*{niveau_scolaire}">
            <option th:each ="niveau : ${niveaux}" th:value="${niveau.id}" th:utext="${niveau.libelle}">...</option>
         </select>
         <br/>
         <input type="submit" value="Creer" />
      </form>
      
      
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
   </body>
</html>